* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #0f172a;
    line-height: 1.6;
}


header {
    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;
}

.nav {
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #16a34a;
}

.menu a {
    margin-left: 20px;
    text-decoration: none;
    color: #0f172a;
    font-weight: 500;
}

.btn {
    background: #16a34a;
    color: #ffffff;
    padding: 10px 18px;
    border-radius: 6px;
}


.hero {
    background: url("../image/hero-bg.png"),rgba(0, 25, 49, 0.8);
    width: auto;
    height: 674px;
    background-size: cover;
    background-position: center;
    padding: 120px 70px;
    color: #fdf2f2;
    text-align: center;
}

.hero h1 {
    font-size: 44px;
    margin-bottom: 15px;
}

.hero h1 span {
    color: #22c55e;
}

.hero p {
    max-width: 650px;
    margin: auto;
    opacity: 0.9;
}

.hero-buttons {
    margin-top: 30px;
}

.hero-buttons a {
    display: inline-block;
    margin: 10px;
    padding: 14px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.primary {
    background: #16a34a;
    color: #ffffff;
}

.secondary {
    border: 1px solid #ffffff;
    color: #ffffff;
}


.section {
    max-width: 1200px;
    margin: auto;
    padding: 80px 20px;
    text-align: center;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    color: #475569;
    margin-bottom: 40px;
}


.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
}

.card {
    background: #ffffff;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,.05);
}

.icon {
    background: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 0 auto 15px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #475569;
}


.solution {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    align-items: center;
    text-align: left;
}

.solution img {
    width: 100%;
    border-radius: 10px;
}

.solution ul {
    list-style: none;
    margin-top: 20px;
}

.solution ul li {
    margin-bottom: 10px;
    color: #16a34a;
    font-weight: 500;
}

.solution ul li img{
    width: 3%;
}


.cta {
    background: #f8fafc;
    padding: 70px 20px;
    text-align: center;
}



